.custom-button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    color: #FBF2F2;
    border: none;
    border-radius: 1.4rem;
    padding: 10px;
    margin: 10px;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: "JetBrains Mono", monospace;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-size: 300% 100%;
  }

  .custom-button:hover {
    background-position: 100% 0;
    cursor: pointer;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }

  .custom-modal {
    /* Modalın arka plan rengi */
    /* background-color: #f1f1f1; */
  
    /* Modal başlığının arka plan rengi */
    .modal-header {
      background-color: #333;
      color: #fff;
    }
  
    /* Modal içeriğinin yazı rengi */
    .modal-body {
      color: #333;
    }
  
    /* Modal footer'ın arka plan rengi */
    .modal-footer {
      background-color: #333;
    }
  
    /* Modal footer düğmelerinin yazı rengi */
    .modal-footer button {
      color: #fff;
    }
  }
  