.content {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 3px;
    display: flex;
    flex-direction: row;
  }
  
  .content div {
    padding: 2rem;
    margin: 10px;
    padding-top: 2rem;
    font-family: "JetBrains Mono", monospace;
  }
  
  .statsec{
    color: #FBF2F2;
  }
  .number {
    display: contents;
    color: #54BD58;
  }
  
  .custom-image{
    width: 40rem;
    height: 30rem;
    margin: 10px;
    padding-left: 20rem;
    box-sizing: content-box;
  }
  
  .buttons button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    color: #FBF2F2;
    border: none;
    border-radius: 1.4rem;
    padding: 10px;
    margin: 10px;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: "JetBrains Mono", monospace;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-size: 300% 100%;
  }
  
  button:hover {
    background-position: 100% 0;
    cursor: pointer;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  button + button {
    margin-left: 6rem;
  }
  